<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the PeopleCtrl controller (controllers.js)
The PeopleCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->

<ion-view view-title="{{person.name}}">
  <ion-content class="padding">
    <img ng-src="{{person.face}}" style="width: 64px; height: 64px">
    <h3>Notes</h3>
    <p>
      {{person.notes}}
    </p>
  </ion-content>
</ion-view>
