

<ion-view view-title="Sign in">

    <ion-content class="padding">

        <!--
        $valid allow us to check if form is valid, and call signIn function
        only if form is valid
        novalidate disabled html5 validation
        -->
        <form name="signInForm"
              ng-submit="signInForm.$valid && signIn(user)"
              novalidate>

            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input
                            type="email"
                            ng-model="user.email"
                            name="email"
                            ng-minlength="3"
                            required>
                </label>

                <div ng-show="signInForm.$submitted || signInForm.email.$touched">
                    <div ng-show="signInForm.email.$error.required">Email is required</div>
                </div>


                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input
                            type="password"
                            name="password"
                            ng-minlength="5"
                            required
                            ng-model="user.password">
                </label>

                <div ng-show="signInForm.$submitted || signInForm.password.$touched">
                    <div ng-show="signInForm.password.$error.required">Password is required.</div>
                </div>

            </div>
            <div class="padding">
                <input
                        class="button button-block button-positive"
                        type="submit"
                        value="{{'AUTHENTICATION_SIGNIN' | translate}}">

            </div>

        </form>

    </ion-content>
</ion-view>
