
<ion-view view-title="Sign in" ng-controller="signInCtrl">

    <ion-content class="padding">

        <!--
        $valid allow us to check if form is valid, and call signIn function
        only if form is valid
        novalidate disabled html5 validation
        -->
        <form name="signInForm"
              ng-submit="signInForm.$valid && signIn(user)"
              novalidate>

            <div class="list">
                <label class="item item-input">
                    <span class="input-label">
                        {{'AUTHENTICATION_SIGNIN_FORM_EMAIL_LABEL' | translate}}
                    </span>
                    <input
                            type="email"
                            ng-model="user.email"
                            name="email"
                            required>
                </label>

                <div ng-show="signInForm.$submitted || signInForm.email.$touched">
                    <div ng-show="signInForm.email.$error.required">
                        {{'AUTHENTICATION_SIGNIN_FORM_EMAIL_ERROR_REQUIRED' | translate}}
                    </div>
                </div>


                <label class="item item-input">
                    <span class="input-label">
                        {{'AUTHENTICATION_SIGNIN_FORM_PASSWORD_LABEL' | translate}}
                    </span>
                    <input
                            type="password"
                            name="password"
                            required
                            ng-model="user.password">
                </label>

                <div ng-show="signInForm.$submitted || signInForm.password.$touched">
                    <div ng-show="signInForm.password.$error.required">
                        {{'AUTHENTICATION_SIGNIN_FORM_PASSWORD_ERROR_REQUIRED' | translate}}
                    </div>
                </div>

            </div>
            <div class="padding">
                <input
                        class="button button-block button-positive"
                        type="submit"
                        ng-disabled="signInForm.$invalid"
                        value="{{'AUTHENTICATION_SIGNIN_BUTTON' | translate}}">

            </div>

        </form>

    </ion-content>
</ion-view>
