<ion-view view-title="Create an account">
    <ion-content>

        <form name="accountForm" novalidate>

            <div class="list">

                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input
                            type="email"
                            ng-model="user.email"
                            name="email"
                            ng-minlength="3"
                            required="">
                </label>

                <div ng-show="accountForm.$submitted || accountForm.email.$touched">
                    <div ng-show="accountForm.email.$error.required">Email is required.</div>
                </div>

                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input
                            type="text"
                            ng-model="user.name"
                            name="name"
                            ng-minlength="3"
                            required="">
                </label>

                <div ng-show="accountForm.$submitted || accountForm.name.$touched">
                    <div ng-show="accountForm.name.$error.required">Tell us your name.</div>
                </div>


                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input
                            type="password"
                            name="password"
                            ng-minlength="5"
                            required=""
                            ng-model="user.password">
                </label>

                <div ng-show="accountForm.$submitted || accountForm.password.$touched">
                    <div ng-show="accountForm.password.$error.required">Password is required.</div>
                </div>

            </div>

            <div class="padding">
                <input
                        class="button button-block button-positive"
                        type="submit"
                        ng-click="savePerson(user)"
                        value="Sign up">

            </div>

        </form>

    </ion-content>
</ion-view>
