<ion-view view-title="{{'USER_VIEW_ME_TITLE' | translate }}" ng-controller="meCtrl">
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="app.main.meForm">
           Edit
        </button>
    </ion-nav-buttons>
    <ion-content>


            <div class="item item-text-wrap">
                <h1>{{ user.name }}</h1>
                <h3>{{ user.email }}</h3>

                <button ng-click="signOut('app.onboard.home')"  class="button button-assertive">
                    {{'USER_SIGNOUT_BUTTON' | translate}}
                </button>
            </div>


    </ion-content>
</ion-view>