<ion-view view-title="{{'USER_VIEW_ME_TITLE' | translate }}" ng-controller="meCtrl">
    <ion-content>

        <div class="card">
            <div class="item item-text-wrap">
                <h2>{{authentication.user.name}}</h2>
                <h2>{{authentication.user.email}}</h2>

                <button ng-click="authentication.signOut('app.onboard.home')"  class="button button-assertive">
                    {{'USER_SIGNOUT_BUTTON' | translate}}
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
