<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the PeopleCtrl controller (controllers.js)
The PeopleCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->

<ion-view view-title="{{person.name}}">
  <ion-content class="padding">
      <pre>{{person.name}}</pre>

      <ion-list>
          <ion-item class="item-souncloud" ng-repeat="soundcloud in person.soundcloud" type="item-text-wrap">
              <iframe width="100%" height="450" scrolling="no" frameborder="no" src="{{soundcloud.url}}"></iframe>
          </ion-item>
      </ion-list>

  </ion-content>
</ion-view>
