

<ion-view view-title="We are musicians">


    <ion-content class="onboard-home">

        <div id="onboard-presentation">
           <!-- <h1>We are musicians</h1> -->
            <!--<h2> And we have no slogan for now</h2>-->
        </div>


        <a ui-sref="app.onboard.signup" class="button button-block button-balanced">
            {{ 'ONBOARD_USER_SIGNUP_BUTTON' | translate}}
        </a>

        <a ui-sref="app.onboard.signin" class="button button-block button-positive">
            {{ 'ONBOARD_USER_SIGNIN_BUTTON' | translate}}
        </a>

    </ion-content>
</ion-view>
