
<!--
<ion-nav-view name="home"></ion-nav-view>



<ion-nav-view name="signin"></ion-nav-view>

<ion-nav-view name="signup"></ion-nav-view>
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Persons Tab -->
    <ion-tab title="Home" icon-off="ion-ios7-home-outline" icon-on="ion-ios7-home" ui-sref="app.onboard.home">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>


    <!-- Persons Tab -->
    <ion-tab title="Sign in" icon-off="ion-ios7-person-outline" icon-on="ion-ios7-person" ui-sref="app.onboard.signin">
        <ion-nav-view name="signin"></ion-nav-view>
    </ion-tab>


    <!-- Account Tab -->
    <ion-tab title="Sign up" icon-off="ion-ios7-personadd-outline" icon-on="ion-ios7-personadd" ui-sref="app.onboard.signup">
        <ion-nav-view name="signup"></ion-nav-view>
    </ion-tab>


</ion-tabs>






